.image-container {
  position: relative;
}
.centered-heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  white-space: nowrap;
  text-shadow: 6px 1px 5px rgba(0, 0, 0, 0.5); 
}
.required::after {
  content: " *";
  color: red;
}
.img-fluid{
  height: 800px;
}
.btn-container{
  gap: 15px;
}
