body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
  }
  .leftside {
    flex: 1;
    background: url("backimage.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .rightside {
    flex: 2;
    padding: 20px;
  }
  .form h2 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 24px;
  }
  
  .form label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #333;
  }
  
  .form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
  }
  
  .remember {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .form button {
    padding: 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    margin: 5px 10px;
    width: 172%;
  }
  
  .form button:hover {
    opacity: 0.9;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .left-section {
    flex: 1;
    background: url("backimage.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    text-align: center;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 550px;
  }
  
  .form-group {
    flex: 1 1 45%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .gender {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  
  .hobbies {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .hobbies input {
    margin-right: 5px;
  }
  
  .agree {
    display: flex;
    align-items: flex-end;
    flex: 100%;
    justify-content: normal;
    gap: 10px;
    margin-top: 10px;
  }
  
  .agree input {
    margin-right: 10px;
  }
  
  .inline {
    display: inline-block;
  }
  
  .register-buttons {
    flex: 1 1 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .register-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
  }
  
  .register-buttons button[type="reset"] {
    background-color: #dc3545;
  }
  
  .register-buttons button:hover {
    opacity: 0.9;
  }